.container {
  width: 860px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f6f8;
}
.topSection {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

.leftDiv {
  display: flex;
  gap: 10px;
}
.leftDivTxt {
  padding: 8px 13px;
  background-color: #e7effa;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  padding: 10px 15px;
}

.topLeft {
  display: flex;
  gap: 20px;
}

.topLeft span {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #6a707e;
}

.searchIcon {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #e7effa;
  border-radius: 20px;
  padding: 5px;
  width: 180px;
}

.search-icon {
  color: gray;
  font-size: 20px;
  margin-right: 10px;
}

.search-input {
  border: none;
  background-color: transparent;
  font-size: 14px;
  flex: 1;
  outline: none;
}

.arrowDownTop {
  height: 12px;
  width: 15px;
  padding-left: 5px;
}
.dropdown {
  border: none;
  background-color: transparent;
  color: #2ea8f3;
}
